@model appEncuestasEscolares.Models.Preguntas
@{
    Layout = "MainLayout";
}

<div class="question-list">

    
    <div class="question-item">
        <div class="question-header">
            <span class="question-number">1</span>
        </div>
        <input type="text" name="Preguntas" class="form-input" placeholder="Escribe tu pregunta aquí..." required>
    </div>
    <div class="question-item">
        <div class="question-header">
            <span class="question-number">2</span>
        </div>
        <input type="text" name="Preguntas" class="form-input" placeholder="Escribe tu pregunta aquí..." required>
    </div>
    <div class="question-item">
        <div class="question-header">
            <span class="question-number">3</span>
        </div>
        <input type="text" name="Preguntas" class="form-input" placeholder="Escribe tu pregunta aquí..." required>
    </div>
    <div class="question-item">
        <div class="question-header">
            <span class="question-number">4</span>
        </div>
        <input type="text" name="Preguntas" class="form-input" placeholder="Escribe tu pregunta aquí..." required>
    </div>
    <div class="question-item">
        <div class="question-header">
            <span class="question-number">5</span>
        </div>
        <input type="text" name="Preguntas" class="form-input" placeholder="Escribe tu pregunta aquí..." required>
    </div>
    <div class="question-item">
        <div class="question-header">
            <span class="question-number">6</span>
        </div>
        <input type="text" name="Preguntas" class="form-input" placeholder="Escribe tu pregunta aquí..." required>
    </div>
       <div class="question-item">
        <div class="question-header">
            <span class="question-number">7</span>
        </div>
        <input type="text" name="Preguntas" class="form-input" placeholder="Escribe tu pregunta aquí..." required>
    </div>
       <div class="question-item">
        <div class="question-header">
            <span class="question-number">8</span>
        </div>
        <input type="text" name="Preguntas" class="form-input" placeholder="Escribe tu pregunta aquí..." required>
           <div class="question-item">
        <div class="question-header">
            <span class="question-number">9</span>
        </div>
        <input type="text" name="Preguntas" class="form-input" placeholder="Escribe tu pregunta aquí..." required>
           <div class="question-item">
        <div class="question-header">
            <span class="question-number">10</span>
        </div>
        <input type="text" name="Preguntas" class="form-input" placeholder="Escribe tu pregunta aquí..." required>

    </div>
    </div>
    </div>
    
</div>