@model CrearPreguntasViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "MainLayout";
}

<div class="question-list">


<form action="~/Encuestador/Home/AgregarPreguntas" method="post">

    <input type="hidden" asp-for="EncuestaId" />

        <div class="question-list">
            @for (int i = 0; i < 10; i++)
            {
                <div class="question-item">
                    <div class="question-header">
                        <span class="question-number">@((i + 1).ToString())</span>
                    </div>
                    <input type="text" name="Preguntas" class="form-input" placeholder="Escribe tu pregunta aquí..."  />
                </div>
            }
        </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
</form>
    
    
</div>