<!DOCTYPE Html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/styles.css" rel="stylesheet" />
    <title>Iniciar Sesión</title>
</head>
<body class="login">


    <main class="from-cont">

        <form method="post" action="~/Account/Login" class="form">
            <div>
                <h1>Iniciar sesión</h1>
                <div class="from-grupo">
                    <label class="txtNumC">Correo electronico</label>
                  <input type="text" required name="user" id="txtNumC"
                      placeholder="correo@ejemplo.com"/>
                    
                </div>
                <div class="from-grupo">
                    <label for="txtPassword">Contraseña</label>
                    <input type="password" required name="password" id="txtPassword" placeholder="Contraseña" />

                </div>
                
                <div class="botonera">
                    <p id="error">@Html.ValidationSummary()
                    </p>
                    <input type="submit" value="Entrar" />

                </div>
            </div>
        </form>


    </main>
</body>
</html> 