@model appEncuestasEscolares.Models.Encuestas
<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Agregar encuesta</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
</head>
<body>
    <h1>Agregar encuesta</h1>


    <form method="post" action="~/Encuestas/AgregarEncuestas">

        <label>Agregar Encuesta</label>
        <input type="text" placeholder="Escribe el nombre de la encuesta" name="Titulo" required>
        <input type="submit"/>

    </form>

</body>
</html>