@model IEnumerable<appEncuestasEscolares.Models.Encuestas>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        a{
            text-decoration: none;
        }
    </style>
    <title>Encuestas</title>
</head>
<body>
    <h1>Encuestas Realizadas</h1>

    <a href="~/Encuestas/AgregarEncuestas">Agregar</a>
   <ul> 
    @foreach (var e in Model)
        {
            <li>
                <p>@e.NombreEncuesta</p>
                <a href="~/Encuestas/AgregarPreguntas/@e.IdEncuesta">Agg preguntas</a><a>Eliminar</a>
            </li>
        }
  


   </ul>

    
</body>
</html>
