<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Encuesta</title>
    <link rel="stylesheet" href="styles.css" />
</head>
<body>
    <header>
        <h1>Encuesta escolar</h1>
        <p>Tu opinion es muy importante para mejorar nuestro entorno escolar.</p>
    </header>

    <main>
        <from id="fromEncuesta">
            <div class="pregunta">
                <label for="p1">Que tan satisfecho estas con la limpieza de las aulas?</label>
                <select id="p1" name="p1" required>
                    <option value="" disabled selected>Selecciona una opción</option>
                    <option value="5">Muy Satisfecho</option>
                    <option value="4">Satisfecho</option>
                    <option value="3">Neutral</option>
                    <option value="2">Insatisfecho</option>
                    <option value="1">Muy Insatisfecho</option>
                </select>
            </div>
            <div>
                <label for="p2">Que tan satisfecho estas con la comida de la cafetería?</label>
                <select id="p2" name="p2" required>
                    <option value="" disabled selected>Selecciona una opción</option>
                    <option value="5">Muy Satisfecho</option>
                    <option value="4">Satisfecho</option>
                    <option value="3">Neutral</option>
                    <option value="2">Insatisfecho</option>
                    <option value="1">Muy Insatisfecho</option>
                </select>
            </div>
            <div class="pregunta">
                <label for="comentarios">Comentarios adicionales:</label>
                <textarea id="comentarios" name="comentarios" rows="4" placeholder="Escribe aquí tus sugerencias..."></textarea>
            </div>
            <button type="submit">Enviar Encuesta</button>
        </from>
    </main>
    <footer>
        <p>&copy; 2025 Encusta Escolar - TECNM</p>
    </footer>
    @*  <form>
        <p>Escribe tu nombre y numero de control</p><br>
        <input type="text" placeholder="Nombre"> <input type="text" placeholder="Numero de control">

        <div class="preg">
            <p>¿Qué tanto te agrada la comida de la cafetería?</p>

            <label>
                <input type="radio" name="pregunta" value="1">
                <img src="./assets/1-removebg-preview.png" alt="1">
            </label>

            <label>
                <input type="radio" name="pregunta" value="2">
                <img src="./assets/2-removebg-preview.png" alt="2">
            </label>

            <label>
                <input type="radio" name="pregunta" value="3">
                <img src="./assets/3-removebg-preview.png" alt="3">
            </label>

            <label>
                <input type="radio" name="pregunta" value="4">
                <img src="./assets/4-removebg-preview.png" alt="4">
            </label>

            <label>
                <input type="radio" name="pregunta" value="5">
                <img src="./assets/5-removebg-preview.png" alt="5">
            </label>
        </div>


        <input type="submit" value="Enviar">
    </form>
 *@
</body>
</html>

