@model appEncuestasEscolares.Models.ViewModels.IndexEncuestadosViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    
}
<form>
<p>Escribe tu numero de control:</p>
<input  type="text"/>

<select name="AplicadorId" required>
    @foreach (var usuario in Model.Usuarios)
    {
        <option value="@usuario.Id">@usuario.Nombre</option>
    }
</select>


<ul>
    @foreach (var en in Model.Encuestas)
    {
        <li>
            <p></p>
            <p>Creado por: <span>.</span></p>
            <a asp-controller="Home"
               asp-action="ContestarEncuesta"
               asp-route-id=""
               class="agregar">Contestar Encuesta</a>
        </li>
    }
</ul>

<input type="submit" value="Enviar selección" />

</form>
